{
  "presets" : [
    "react",
    "stage-2",
    ["env", {
      "debug": false,
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions"]
      },
    }]
  ],
  "plugins": [
    "transform-class-properties"
  ]
}
